if SHIELD_ENCORNE_LEFT

config ZMK_KEYBOARD_NAME
    default "ENCORNE1"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_ENCORNE_LEFT || SHIELD_ENCORNE_RIGHT

config ZMK_SPLIT
    default y

endif